@page "/"
@using Totio.Authentication.Client
@inject AccountClient accountClient

@code {

    private async Task SubmitLoginAsync()
    {
        try
        {
            var id = await accountClient.LoginAsync(new UsernameLoginRequest
            {
                Username = username,
                Password = password,
            });

            result = id.ToString();
        }
        catch (Exception e)
        {
            result = e.Message;
        }
    }

    private string result = "";

    private string? username;
    private string? password;
}

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<form @onsubmit="SubmitLoginAsync">
    <label for="username">
        <input type="text" id="username" @bind="username">
    </label>

    <label for="password">
        <input type="password" id="password" @bind="password">
    </label>

    <input type="submit" value="Submit">
</form>

<div>
    @result
</div>

<SurveyPrompt Title="How is Blazor working for you?"/>
